In [2]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [3]:
d = pd.read_csv('book.csv')
d

   area  room  age   price
0  2600   3.0   20  550000
1  3000   4.0   15  565000
2  3200   NaN   18  610000
3  3600   3.0   30  595000
4  4000   5.0    8  760000

In [5]:
import math
median_room = math.floor(d.room.median())
median_room

3

In [9]:
d.room = d.room.fillna(median_room)
d

   area  room  age   price
0  2600   3.0   20  550000
1  3000   4.0   15  565000
2  3200   3.0   18  610000
3  3600   3.0   30  595000
4  4000   5.0    8  760000

In [10]:
reg = linear_model.LinearRegression()
reg.fit(d[['area','room','age']],d.price)

LinearRegression()

In [11]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [12]:
reg.intercept_

383724.9999999998

In [15]:
reg.predict([[3000,3,15]])

array([615025.])

In [16]:
reg.predict([[2500,4,5]])

array([588625.])